[Desktop Entry]
Encoding=UTF-8
Name=BLM
Comment=BLM P2P Cryptocurrency
Comment[fr]=BLM, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BLM, eşten eşe kriptografik sanal para birimi
Exec=BLM-qt %u
Terminal=false
Type=Application
Icon=BLM128
MimeType=x-scheme-handler/BLM;
Categories=Office;Finance;
