[Unit]
Description=BLM's distributed currency daemon
After=network.target

[Service]
User=BLM
Group=BLM

Type=forking
PIDFile=/var/lib/BLMd/BLMd.pid

ExecStart=/usr/bin/BLMd -daemon -pid=/var/lib/BLMd/BLMd.pid \
          -conf=/etc/BLM/BLM.conf -datadir=/var/lib/BLMd

ExecStop=-/usr/bin/BLM-cli -conf=/etc/BLM/BLM.conf \
         -datadir=/var/lib/BLMd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
